.form {
  margin-top: 16px;

  &__input {
    // border-color: #2a75bb;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

  &__button {
    padding: 5px;
    border-color: #2a75bb;
    border-radius: 4px;
    background: #ffcb05;
    color: #2a75bb;
    font-weight: bolder;
    margin-left: 2px;
    cursor: pointer;
  }
}