.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;


  @media(min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media(min-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}