@import '../../node_modules/react-toastify/dist/ReactToastify.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

img {
  width: 100%;
  height: auto;
}

html, body, #root {
  height: 100%;
}