.card-pokemon {
  padding: 30px;
  width: 160px;
  margin-bottom: 10px;
  text-decoration: none;

  h2 {
    font-size: 18px;
    color: #2a75bb;
  }

  p {
    color: black;
    font-size: 16px;
  }
}